.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerContainer {
  width: 100%;
  background: #000;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 15rem;
  margin-top: 15rem;
}

.footerContainerMobile {
  width: 100%;
  background: #000;
  display: none;
  gap: 3rem;
  padding: 6rem 15rem;
  margin-top: 15rem;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.icons {
  display: flex;
  align-items: center;
}

.icons li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons img {
  height: 24px;
  width: 24px;
}

.icons li::after {
  content: '';
  height: 2px;
  width: 0;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.2s;
}

.icons li:hover::after {
  width: 30%;
}

@media (max-width: 375px) {
  .footerContainer {
    display: none;
  }

  .footerContainerMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
  }
}
