.container {
  width: 100%;
  height: 65rem;
  padding: 6.4rem 16.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: url('../../assets/desktop/image-hero.jpg') no-repeat;
}

aside {
  width: 375px;
  height: 100vh;
  background-color: #000;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: 0.3s;
  padding: 5rem 6rem;

  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.headerAside {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.titles {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin: auto 0;
  cursor: pointer;
}

.titles a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 7rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.titles a::after {
  content: '';
  height: 2px;
  width: 0;
  background-color: #fff;
  transition: 0.2s;
}

.titles a:hover::after {
  width: 50%;
}

.container header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.icon {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

li {
  cursor: pointer;
}

.description {
  display: flex;
  align-items: center;

  font-family: 'Josefin Sans', sans-serif;
  font-size: 3.4rem;

  padding: 3rem 4rem;
  margin-bottom: 8rem;

  width: 60rem;

  color: var(--white);
  border: 2px solid var(--white);
}

h1 {
  font-weight: 300;
}

@media (max-width: 375px) {
  .container {
    background: url('../../assets/mobile/image-hero.jpg') no-repeat;
    padding: 6.4rem 5rem;
    align-items: center;
    height: 100rem;
  }

  .container header ul {
    display: none;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    width: 50%;
  }

  .description {
    width: 100%;
    font-size: 4rem;
    margin-bottom: 22rem;
  }

  .displayed {
    transform: none;
  }

  .noDisplayed {
    transform: translateX(100%);
  }

  aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
