.container {
  width: 100%;
  height: 65rem;
  padding: 6.4rem 16.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: url('../../assets/desktop/image-hero.jpg') no-repeat
}

aside{
  width: 375px;
  height: 100vh;
  background-color: #000;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: 0.3s;
  padding: 6.4rem 5rem;

  display: none;
  flex-direction: column;
  justify-content: space-between;
}


.headerAside {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.titles {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: auto 0 auto 9rem;
}


.container header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.icon{
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

li {
  cursor: pointer;
}

.description {
  display: flex;
  align-items: center;

  font-family: 'Josefin Sans', sans-serif;
  font-size: 3.4rem;

  padding: 3rem 4rem;
  margin-bottom: 8rem;

  width: 60rem;

  color: var(--white);
  border: 2px solid var(--white);
}

h1 {
  font-weight: 300;
}

@media (max-width: 375px) {
  .container{
    background: url('../../assets/mobile/image-hero.jpg') no-repeat;
    padding: 6.4rem 5rem;
    align-items: center;
  }

  .container header ul {
    display: none;
  }

  header img {
    transform: scale(0.5);
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .description{
    width: 100%;
  }

  .displayed {
    transform: none;
  }
  
  .noDisplayed {
    transform: translateX(100%);
  }

  aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}